body {
    padding: auto;
    margin: auto;

}

h1 {
    margin-right: auto;
    margin-left: auto;
}

.remeras {
    display: flex;
    padding: 50px;
}



.zapatillas {
    display: flex;
    padding: 50px;
}